@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-border: #27272a;
  --color-accent: #7c3aed;
  --color-accent-hover: #6d28d9;
  --color-text: #f4f4f5;
  --color-muted: #a1a1aa;

  --font-sans: Inter, sans-serif;

  --animate-fade-in: fadeIn 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Apply base styles */
body {
  @apply bg-background text-text font-sans antialiased;
}

/* Scrollbar refinement */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full hover:bg-neutral-600 transition-colors;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  /* Thinner for nested content */
}